langchain
langchain-core
langchain-community
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
langchain-groq
python-dotenv
typesense
langchain_openai
langgraph
tqdm
rank-bm25
streamlit
streamlit-mic-recorder
faster-whisper 
edge-tts 
asyncio